@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*
    verde    #4caf50 #1b5e20
    vermelho #f44336 #b71c1c
    azul     #2196F3 #0d47a1
    roxo     #9c27b0 #4a148c
*/

:root {
    --principal : #b71c1c;
    --secundaria: #f44336;

    --cinza-escuro: #222;
    --escuro: #191919;
    --preto : #000;
    --branco: #fff;
    --verde-escuro: #1b5e20;


    --sucesso: #4caf50;
    --perigo: red;
    --info: #2196F3; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color:  var(--escuro);
}

main {
    overflow: hidden;
    width: 1366px;
    height: 643px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 0.95rem;
    z-index: 999;

    padding: 12px;
    color: #fff;
}

/* aside #caixa LOGO FORM, COMANDOS */
#caixa {
    background-color: var(--escuro);
    width: 233px;
    padding: 10px;
    height: 100%;
    color: #fff;
    z-index: 999;
}

#caixa h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    background-color: #333;
    padding: 5px;
    border-radius: 12px;
}

/* area com os botoes de missoes */
#missoes {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 0.5rem;
}

/* topo com logo  */
header {
    border-radius: 38px;
    background: black;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#topo figure {
    margin-left: 4px;
    width: 75px;
    height: 75px;
    border-radius: 0 0 25px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1000;
}

/* imagem */
#logo {
    width: 75px;
    height: 75px;
    z-index: 1000;
}

/* section #mapa */
section {
    font-size: 1.25rem;

    /* width: 900px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro {
    text-align: center;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-top: 10px;
}

/* img #mapaMundi */
#mapaMundi {
    z-index:0;
    /* width: 100%; */
    cursor: pointer;
    border-radius: 8px;
    filter: opacity(0.95);
}

.navios {
    width: 25px;
	z-index: 0;
	position: absolute;
}

.icones {
    position: absolute;
    z-index: 2000;
}

.icone-menor {
    width: 20px;
    height: 20px;
}

.linhas {
    position: absolute;
    z-index: 1;
}

#linhaDeLatitude {
    background: rgba(255,0,0, 0.5);
    width: 930px; /* 930px */
    height: 4px;
    top: 323px;
    z-index: 1;
}

#linhaDeLongitude {
    width: 4px;
    height: 600px; /* 600px */
    left: 695px;
    background: rgba(0,0,255,0.5);
    z-index:1;
}

/* DENTRO DA CAIXA */

/* FORMULARIO */
.form-group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

label {
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}

input {
    font-size: 1rem;
    width: 50%;
    margin-right: 0.5rem;
}

/* sombra nos inputs, selects e buttons */
input:hover, input:focus, select:hover, select:focus, button:hover, button:focus {
    box-shadow: 0 0 10px cyan;
}

.inputForm {
    display: flex;
    justify-content: space-evenly;
}

#dirLatitude {
    color: #fff;
    background: rgba(255,0,0, 0.5);
}

#dirLongitude {
    color: #fff;
    background: rgba(0,0,255, 0.5);
}

#posicoes {
    color: #ccc;
}

.botao {
    font-size: 1.2rem;
    margin-top: 10px;
    min-width: 50px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #333;
    font-weight: bold;
}

.missoes {
    width: 100%;
}

#missoes p {
    margin-right: 5px;
}

#btnJogar, #btnMoverLinhas {
    background: var(--sucesso);
    color: var(--branco);
    border: 2px solid var(--verde-escuro);
    cursor: pointer;
    transition: box-shadow .5s ease;
}

#btnJogar:hover{
    box-shadow: inset 210px 0 0 #00000055;
}

#btnMoverLinhas {
    background: var(--branco);
    color: var(--preto);
    border: 2px solid var(--escuro);
    font-size: 1rem;
    padding: 5px;
}

#btnMissao1 {
    background-color: green;
}

#btnMissao2 {
    background-color: orangered;
}

#btnMissao3 {
    background-color: yellow;
    color: #222;
}

#btnMissao4 {
    background-color: purple;
}

#divIntrucoes {
    background: var(--escuro);
    width: 233px;
    height: 100%;
    padding: 10px;
}

/* div PLACAR */
#placar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

#placar figure {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.cards {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
}

.cards h4, .cards p {
    margin: 0.5rem 0;
}

#autor {
    width: 100%;
    margin-top: 10px;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Animar o input */
@keyframes piscarPerigo {
    to {
        box-shadow: 0 0 15px var(--perigo);
    }
    from {
    }
}

@keyframes piscarInfo {
    to {
        box-shadow: 0 0 15px var(--info);
    }
    from {
    }
}

.animarPerigo {
    animation: piscarPerigo 1s infinite alternate;
}

.animarInfo {
    animation: piscarInfo 1s infinite alternate;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    border-radius: 8px;
    padding: 15px 20px;
    background: #fff;
}

.modal h2 {
    margin-bottom: 0.75rem;
}

.modal p {
    font-size: 1.5rem;
}

.fechar {
    text-decoration: none;
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 32px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #fff;
}

#pontoPirataria, #pontoPesca {
    color: #fff;
}
